/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar ol{
    display: flex;
    justify-content: right;
    align-items:flex-end;
    list-style-type: none;
}
.baner img{
    border: 0;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.nav-bar .escolha-unidade{
    margin: 50px;
    text-align: center;
}

.nome{
    color: red;
    text-align: center;
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar .escolha-unidade p{
    color: red;
}
.nav-bar .escolha-unidade .botão{   
    height: 45px;
    background: #2d2c31;
    border-color: #2d2c31;
    color: #fff;
    border: none;
    outline: none;
    box-sizing: border-box; 
    width: 30%; 
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
